[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = https://github.com/cric96/reveal-hugo.git
[submodule "themes/my-theme"]
	path = themes/my-theme
	url = https://github.com/metaphori/Template-Hugo-Theme.git
[submodule "shared-slides"]
	path = shared-slides
	url = git@github.com:metaphori/Template-Hugo-Shared-Slides.git
